@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  font-family: 'Poppins', 'Montserrat', sans-serif;
}